.sidebar {
   position: absolute;
   // z-index: 1;
   width: 300px;
   margin: 15px;
   background: white;
   border: 1px solid lightgrey;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 16px;

   .top {
      padding: 15px;
      padding-bottom: 0;
   }
   .item {
      margin-bottom: 15px;
   }

   .content {
      padding: 15px;
   }

   .icon {
      transition: 0.6s all ease-in-out;
      margin-right: 5px;
   }

   .animator {
      &:hover {
         .icon {
            transform: rotate(180deg) scale(0.75);
         }
      }
   }

   .custom-tick {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 14px;
   }
}
