.map {
   flex: 1;
   height: 100%;
   width: 100%;
   position: absolute;
   display: flex;
   align-items: center;
   justify-content: center;
   .spinner-container {
      z-index: 5000;
      background: rgba(255, 255, 255, 1);
      padding: 15px;
      border: 1px solid lightgrey;
      // border-radius: 5px;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 16px;
   }
}
